#python==3.8.17
setuptools==41.2.0
numpy>=1.13
scipy>=0.19.1
pandas>=0.22.0
matplotlib>=2.1.1
seaborn==0.8.1
svgpath2mpl>=0.2.1
Cython==3.0.8
pyzmq==17.1.2
# pysam==0.15.3 needs zlib1g-dev and libbzip2 etc...
# ncls==0.0.43
Jinja2==2.10.1
simplejson==3.16.0
# pdfkit==0.6.1